@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 210 40% 10%;
    --card: 210 40% 98%;
    --card-foreground: 210 40% 10%;
    --popover: 210 40% 98%;
    --popover-foreground: 210 40% 10%;
    --primary: 210 90% 50%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 90%;
    --secondary-foreground: 210 40% 10%;
    --secondary-text: 210 40% 30%;
    --muted: 210 40% 95%;
    --muted-foreground: 210 30% 50%;
    --accent: 30 90% 50%;
    --accent-foreground: 30 40% 10%;
    --destructive: 0 70% 50%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 40% 90%;
    --input: 210 40% 90%;
    --ring: 210 90% 50%;
    --chart-1: 210 80% 60%;
    --chart-2: 30 80% 60%;
    --chart-3: 210 60% 70%;
    --chart-4: 30 60% 70%;
    --chart-5: 210 40% 80%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 210 40% 10%;
    --foreground: 210 40% 95%;
    --card: 210 40% 12%;
    --card-foreground: 210 40% 95%;
    --popover: 210 40% 12%;
    --popover-foreground: 210 40% 95%;
    --primary: 210 90% 60%;
    --primary-foreground: 210 40% 10%;
    --secondary: 210 40% 20%;
    --secondary-foreground: 210 40% 95%;
    --muted: 210 40% 25%;
    --muted-foreground: 210 30% 70%;
    --accent: 30 90% 60%;
    --accent-foreground: 30 40% 95%;
    --destructive: 0 60% 55%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 40% 20%;
    --input: 210 40% 20%;
    --ring: 210 90% 60%;
    --chart-1: 210 80% 50%;
    --chart-2: 30 80% 50%;
    --chart-3: 210 60% 60%;
    --chart-4: 30 60% 60%;
    --chart-5: 210 40% 70%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    /* stylelint-disable-next-line at-rule-no-unknown */
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.skeleton {
  * {
    pointer-events: none !important;
  }

  *[class^="text-"] {
    color: transparent;
    @apply rounded-md bg-foreground/20 select-none animate-pulse;
  }

  .skeleton-bg {
    @apply bg-foreground/10;
  }

  .skeleton-div {
    @apply bg-foreground/20 animate-pulse;
  }
}

.ProseMirror {
  outline: none;
}

.cm-editor,
.cm-gutters {
  @apply bg-background dark:bg-zinc-800 outline-none selection:bg-zinc-900 !important;
}

.ͼo.cm-focused > .cm-scroller > .cm-selectionLayer .cm-selectionBackground,
.ͼo.cm-selectionBackground,
.ͼo.cm-content::selection {
  @apply bg-zinc-200 dark:bg-zinc-900 !important;
}

.cm-activeLine,
.cm-activeLineGutter {
  @apply bg-transparent !important;
}

.cm-activeLine {
  @apply rounded-r-sm !important;
}

.cm-lineNumbers {
  @apply min-w-7;
}

.cm-foldGutter {
  @apply min-w-3;
}

.cm-lineNumbers .cm-activeLineGutter {
  @apply rounded-l-sm !important;
}

.suggestion-highlight {
  @apply bg-blue-200 hover:bg-blue-300 dark:hover:bg-blue-400/50 dark:text-blue-50 dark:bg-blue-500/40;
}
